<div>
    <table class="table table-hover">
        <thead>
            <th>id</th>
            <th>nome</th>
            <th>email</th>
            <th>role</th>
        </thead>

        {{#each Users}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.fullname}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
        </tr>
        {{/each}}
    </table>
</div>
