    <form action="user" method="POST">
        <input type="text" placeholder="Nome Completo">
        <input type="text" placeholder="CPF">
        <input type="date" placeholder="Data de nascimento">
        <input type="text" placeholder="Como gostaria de ser chamado">
        <input type="text" placeholder="Apelido">
    </form>
