<div>
    <h1>Perfil do usuário</h1>

    <div>
        <div>{{User.id}}</div>
        <div>{{User.fullname}}</div>
        <div>{{User.email}}</div>
        <div>{{User.cpf}}</div>
    </div>
</div>
