<form action="../employee" method="POST" class="needs-validation" novalidate>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="fullname">Nome Completo</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Nome Completo" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="date">Data de nascimento</label>
            <input type="date" class="form-control" id="date" name="datebirth" placeholder="Data de nascimento"
                required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="name">Como gostaria de ser chamado?</label>
            <input type="text" class="form-control" name="preferencialname" id="name" placeholder="Nome preferido" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="password">Como gostaria de ser chamado?</label>
            <input type="text" class="form-control" name="secret" id="password" placeholder="********" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<script>
    (() => {
        'use strict';
        window.addEventListener('load', () => {
            const forms = document.getElementsByClassName('needs-validation');
            // Passe por cima deles e evite o envio
            const validation = Array.prototype.filter.call(forms, form => {
                form.addEventListener('submit', event => {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    onSubmit(){
        // const formValido = window.addEventListener()
    }

    window.addEventListener('submit', event => {
        location.href = '/employee'
    })

</script>
